* {
  margin: 0;
  padding: 0;
}

body, html {
  min-height: 100% !important;
  height: 100%;
  background: fixed url('./images/background-white.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: white;
}

.page-container {
  padding-top: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.wholePage {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}